/* ESTILO GERAL */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.CAOS-Contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #00ff08;
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%;
}

header>.interface {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

button:hover {
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
}

/* Estilo Do Topo */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #00ff08;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */
sec.especialidades {
    padding: 40 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #00ff08;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;

}

/* ESTILO-SOBRE*/
section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #00ff08;
    display: block;
}

.sobre .txt-sobre p {
    margin: 30px 0;
    text-align: justify;
}

.sobre .txt-sobre .CAOS-social button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #00ff08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

@media screen and (max-width: 1020px) {

    /* CLASSES-GERAIS */
    .flex {
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 30px;
        line-height: 34px;
    }

    /* CABEÇALHO */
    .menu-desktop, .CAOS-Contato {
        display: none;
    }
}

/* Topo-do-site--> */
section.topo-do-site {
    padding: 20px 8%;
}

.topo-do-site h1 {
    font-size: 30px;
    line-height: 40px;
}

/* Togo-img */
.interface .logo img {
    width: 100%;
}

.topo-do-site .img-topo-site img {
    width: 100%;
}

/* Texto-topo*/
section.topo-do-site .flex {
    gap: 40px;
}

/* ESTILO DAS ESPECIALIDADES */
sec.especialidades {
    padding: 40 8%;
}

/* ESTILO-SOBRE*/
section.sobre {
    padding: 80px 8%;
}

.sobre .txt-sobre h2 {
    font-size: 34px;
    line-height: 35px;
    text-align: center;
}